* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.time{
    display: inline-block;
}

.controls{
    background-color: rgb(230,230,230);
    display:flex;
}

.controls > *{
    margin-right: 20px;
}

.playbackBarContainer{
    width: 70%;
}

.playbackBar{
    display: block;
    width: 100%;
}

.time{
    white-space: nowrap;
}
